@import "tailwindcss";

html,body {
    width: 100%;
    height: 100%;
    font-family: "Sansation", sans-serif;
    background-color: #000;
}
.logo-text {
    font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
}
.text-d  h1{
    font-family: "Chicle", serif;
  font-weight: 400;
  letter-spacing: 8px;
}
.p2-content h1 {
    font-family: "Chicle", serif;
  font-weight: 400;
  letter-spacing: 2px;
}
.p2-content button {
        font-family: "Bagel Fat One", system-ui;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@media  screen and (max-width: 850px) {
    .Gimg {
        width: 60vw;
        top: 30%;
    }
    .logo-text {
        font-size: 1.6rem;
    }
    .text-d {
        gap: 20vh;
        top: 25%;
        left: 55%;
    }
    .text-d h1 {
        font-size : 7rem;
    }
    .text-d h1:nth-child(2) {
        margin-left: 250px;
    }
    text {
        font-size: 30rem;
    }
    .svg{
        margin-top: 100px;
    }
}
@media  screen and (max-width: 450px) {
    .Gimg {
        width: 150vw;
        top: 28%; 
    }
    .logo-text {
        font-size: 1.2rem;
    }
    .text-d {
        gap: 13vh;
        top: 23%;
        left: 50%;
    }
    .text-d h1 {
        font-size: 6rem;
    }
    .text-d h1:nth-child(2) {
        margin-left: 110px;
    }
    .imagesDiv {
        height: 91%;
    }
    .bicon {
        margin-bottom: 55px;
        justify-content: center;
    }
    .btmBar {
        padding-left : 0;
    }
    text {
        font-size: 30rem;
    }
    .svg{
        margin-top: 350px;
    }

    .p2-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        margin-top: 0;
        gap: 10px;
    }
    .left-img, .p2-content {
        width: 100%;
    }
    .left-img {
        height: 80vh;
    }
    .left-img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .p2-content {
        padding-left: 10px;
    }
    .p2-content h1 {
        line-height: 50px;
    }
    .p2-content p{
        font-size: 1rem;
        margin-top: 20px;
    }
    .p2-content button {
        font-size: 1.6rem;
    }

}